<h2>Urls</h2>
<% if @urls.size > 0 %>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Original Url</th>
      <th scope="col">Shortened Url</th>
      <th scope="col">Total Visitors</th>
    </tr>
  </thead>
  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.original %></td>
        <td><%= link_to url.shortened_url, short_path(url.slug), target: :_blank %></td>
        <td><%= url.visitors_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
    <div class="col">No URLs shortened yet.</div>
<% end %>
<%= link_to 'Short new URL', new_url_path %>
