<h2>Url Shortener</h2>
<%= form_with model: @url do |form| %>
  <div class="row">
    <div class="col">
      <%= form.text_field :original, class: "form-control", placeholder: "Original URL" %>
    </div>
    <div class="col">
      <%= form.submit 'Short this URL' %>
    </div>
  </div>
<% end %>
